{{> productSearch}}

<div class="card-deck">
    <div class="row">
        {{#each reviews}}
        <div class="col-md-3">
            <div class="card ml-auto mr-auto mt-3">
                {{#if this.item.main_image}}
                <img src="{{this.item.main_image}}" class="card-img-top" alt="{{this.item.title}} image"
                    style="height:200px;">
                {{/if}}
                <div class="card-body">
                    <h3 class="card-title leading"><i class="fas fa-caret-right"></i> {{this.item.title}}</h3>
                    <p> <i class="fas fa-star">
                            {{this.rating}}</i></p>
                    <p class="card-text"><i class="fas fa-comment-alt"></i> {{this.text}}</p>
                    <h4 class="card-text h5"><i class="fas fa-user-edit"> {{this.author}}</i></h4>

                </div>
                <div class="card-footer">
                    <small>From: <a href="http://{{this.item.site}}">{{this.item.site}}</a></small>
                    <small class="text-muted">Last updated {{this.updatedAt}}</small>
                </div>
            </div>
        </div><br />
        {{/each}}
    </div>
</div>