<h2>YELP BUSINESS DETAILS</h2>
<ul>
    <li><img src="{{idJSON.image_url}}" alt="{{idJSON.alias}}"></li>
    <li>Business Name: {{idJSON.name}}</li>
    <li>Yelp Page: <a target="_blank" href="{{idJSON.url}}">Click here to visit!</a></li>
    <li>Business Phone#: {{idJSON.display_phone}}</li>
    <li>Amount of reviews: {{idJSON.review_count}}</li>
    <li>Current Rating: {{idJSON.rating}}/5</li>
    <li>Coordinates: {{idJSON.coordinates.latitude}} {{idJSON.coordinates.longitude}}</li>
    <li>Yelp ID: {{idJSON.id}}</li>
</ul>